@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://unpkg.com/nes.css/css/nes.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

/*Color palette: https://colorhunt.co/palette/010038293a80537ec5f39422 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    scroll-padding: 125px;
}

.logo {
    font-size: 75%;
    vertical-align: middle;
}

.anim3 {
    font-size: 120%;
    display: block;
    animation: typing 2s steps(20), blink .274s infinite step-end alternate;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid;
    width: 100%;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.container {
    width: 80%;
    margin: 2rem auto;
    padding-top: 3%;
}

.aboutInfo {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.pdFile {
    position: relative;
    top: -3px;

    border: none;
    font-size: 220%;
    color: #fff;

    border-width: medium;
    outline: none;
    background: transparent;
    display: inline;
}

.pdFile:focus {
    outline: none !important;
}

.pdFile:hover {
    transition: all 0.5s ease-out;
    color: #F39422;

    filter: brightness(75%);
    transition: all 0.5s ease-out;
}

.pdFile p {
    font-size: 60%;
    display: inline;
    vertical-align: text-bottom;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    margin-left: -2px;
}

.textClean {
    font-size: 30%;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    margin-top: 17px;
    margin-left: 5px;
    font-weight:500;
    color: black;
}

.ico {
    border: none;
    outline: none;
    background: none;
    font-size: 250%;
    cursor: inherit;
}

.imgSVG {
    width: 30%;
}

.ico:hover {
    filter: brightness(75%);
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1.8) rotate(0.01deg);
    transform: scale(1.3) rotate(2.3deg);
}

.ico:focus {
    outline: none !important;
}

.socialMediaButton {
    border: none;
    outline: none;
    background: none;
    font-size: 300%;
    color: #fff;
    display: inline;
}

.socialMediaButton:focus{
    outline: none !important;
}

.socialMediaButton:hover {
    filter: brightness(75%);
    color: #F39422;
    transition: all 0.5s ease-out;
}

.posAux {
    margin-left: 10px;
}

.aButton:hover {
    text-decoration: none;
}

.pButton:hover {
    text-decoration: none;
}

.portfolioGitButton {
    border: none;
    outline: none;
    background: none;
    font-size: 350%;
    color: #6e5494;
    display: inline;
}

.portfolioGitButton:hover {
    filter: brightness(75%);
    transition: all 0.5s ease-out;
    -webkit-transform: scale(2.5) rotate(0.01deg);
    transform: scale(1.3) rotate(2.3deg);
}

.portfolioGitButton{
    outline: none !important;
}

.portfolioButton {
    border: none;
    outline: none;
    background: none;
    font-size: 250%;
    margin-top: 10%;
    color: #010038;
    display: inline;
}

.portfolioButton:focus{
    outline: none !important;
}

.portfolioButton:hover{
    filter: brightness(75%);
    transition: all 0.5s ease-out;
    -webkit-transform: scale(2.5) rotate(0.01deg);
    transform: scale(1.3) rotate(2.3deg);
}

.ytButton {
    border: none;
    outline: none;
    background: none;
    font-size: 250%;
    margin-top: 5%;
    color: #010038;
    display: inline;
}

.ytButton:focus{
    outline: none !important;
}

.ytButton:hover{
    filter: brightness(75%);
    transition: all 0.5s ease-out;
    -webkit-transform: scale(2.5) rotate(0.01deg);
    transform: scale(1.3) rotate(2.3deg);
}

.auxP {
    margin-left: 3.2%;
}

.anim1 {
    width: 10%;
    animation: submarineDude 5s step-end infinite;
    position: absolute;
}

@keyframes submarineDude {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    10%{
        transform: translateX(30%);
        opacity: 0;
    }
    20%{
        transform: translateX(60%);
        opacity: 1;
    }
    30%{
        transform: translateX(90%);
        opacity: 0;
    }
    40%{
        transform: translateX(120%);
        opacity: 1;
    }
    50%{
        transform: translateX(150%);
        opacity: 0;
    }
    60%{
        transform: translateX(180%);
        opacity: 1;
    }
    70%{
        transform: translateX(210%);
        opacity: 0;
    }
    80%{
        transform: translateX(240%);
        opacity: 1;
    }
    90%{
        transform: translateX(270%);
        opacity: 0;
    }
    100%{
        transform: translateX(330%);
        opacity: 1;
    }
}

.anim2 {
    width: 10%;
    animation: submarineDude2 5s step-end infinite;
    position: absolute;
}

@keyframes submarineDude2 {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    10%{
        transform: translateX(30%);
        opacity: 1;
    }
    20%{
        transform: translateX(60%);
        opacity: 0;
    }
    30%{
        transform: translateX(90%);
        opacity: 1;
    }
    40%{
        transform: translateX(120%);
        opacity: 0;
    }
    50%{
        transform: translateX(150%);
        opacity: 1;
    }
    60%{
        transform: translateX(180%);
        opacity: 0;
    }
    70%{
        transform: translateX(210%);
        opacity: 1;
    }
    80%{
        transform: translateX(240%);
        opacity: 0;
    }
    90%{
        transform: translateX(270%);
        opacity: 1;
    }
    100%{
        transform: translateX(300%);
        opacity: 0;
    }
}

.backIMG {
    pointer-events: none;
    position: absolute;
    width: 95.25%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
    transform: scale(1.1);
    filter: brightness(25%); 
}

.myInfo {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    border-radius: 20px 20px;
    color: #fff;
}

.myInfo img {
    margin-right: 5%;

    max-width: 30%;
    max-height: 30%;
    clip-path: circle();
}


.textMyInfo {
    display: inline-block;
    padding: 0rem 2rem;
    vertical-align: middle;
}

.textMyInfo h3{
    color: #F39422;
}

.column {
    float: left;
    width: 50%;
    padding-right: 7%;
}

.columnP {
    float: left;
    width: 50%;
    padding-right: 7%;
}

.column3 {
    float: left;
    width: 33%;
    padding-right: 8%;
}

.column4 {
    float: left;
    width: 33%;
    padding-right: 8%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.rowP::after {
    content: "";
    display: table;
    clear: both;
}

.textWhoAmI {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    word-wrap: break-word;
}

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 0 10vw;
    color: #fff;
    z-index: 1;
    transition: .4s ease-out;
}

.main-header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    height: 20%;
}

.nav-links a {
    margin: .2rem;
    padding: 1rem .5rem;
    font-size: 60%;
}

.nav-links a:hover {
    filter: brightness(50%);
}

.nav-links li.active{
    color: #F39422;
}

.menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
    z-index: 1;
    display: none;
}

.menu-icon__line {
    display: block;
    position: relative;
    background: #fff;
    height: 2px;
    width: 20px;
    border-radius: 4px;
}

.menu-icon__line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transform: translateY(-5px);
    background: #fff;
    transition: background .8s ease;
}

.menu-icon__line::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transform: translateY(5px);
    background: #fff;
    transition: background .8s ease;
}

.menu-btn {
    display: none;
}

.main-header.scrolled {
    height: 70px;
    background: #010038;
    color: #fff;
}

.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after{
    background: #fff;
}

.foot {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #010038;
    text-align: center;
    margin-top: 10.65%;
}

.foot footer p {
    font-size: 50%;
    color: #fff;
}

.slick-slide {
    width: 50px;
    height: 50px;
}

.slick-slide img {
    object-fit: cover;
    width: 100%;
    height: calc(50vh - 100px);
    transition: all .5s ease-out;
}

.slick-slide img:hover {
    transition: all .5s ease-out;
    -webkit-transform: scale(.925) rotate(0.01deg);
}

.slick-slide p {
    text-align: center;
}

.contactB {
    border: none;
    outline: none;
    background: none;
    font-size: 450%;
    color: #000;
    display: inline;
}

.contactB:hover {
    color: #F39422;
    transition: all .7s ease-out;
    -webkit-transform: scale(1.1) rotate(0.01deg);
}

.contactB:focus {
    outline: none !important;
}

@media screen and (max-width: 767px) {
    @keyframes pulse{
        from{
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            background: rgba(255, 255, 255, 0.6);
        }
        to{
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            background: rgba(255, 255, 255, 0);
        }
    }

    @keyframes openTop {
        0% {
            transform: translateY(0px)
            rotate(90deg);
        }
        50%{
            transform: translateY(0px)
            rotate(0deg);
        }
        100%{
            transform: translateY(-5px)
            rotate(0deg);
        }
    }
    @keyframes openMid {
        0%{
            transform: rotate(45deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    @keyframes openBottom {
        0% {
            transform: translateY(0px)
            rotate(90deg);
        }
        50%{
            transform: translateY(0px)
            rotate(0deg);
        }
        100%{
            transform: translateY(5px)
            rotate(0deg);
        }
    }

    @keyframes closedTop {
        0% {
            transform: translateY(-5px)
            rotate(0deg);
        }
        50%{
            transform: translateY(0px)
            rotate(0deg);
        }
        100%{
            transform: translateY(0px)
            rotate(90deg);
        }
    }
    @keyframes closedMid {
        50%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(45deg);
        }
    }
    @keyframes closedBottom {
        0% {
            transform: translateY(5px)
            rotate(0deg);
        }
        50%{
            transform: translateY(0px)
            rotate(0deg);
        }
        100%{
            transform: translateY(0px)
            rotate(90deg);
        }
    }
    
    .main-header .menu-icon{
        display: block;
    }

    .main-header .menu-icon__line {
        animation: closedMid 0.8s;
        animation-fill-mode: backwards;
        animation-direction: reverse;
    }

    .main-header .menu-icon__line::before {
        animation: closedTop 0.8s;
        animation-fill-mode: backwards;
        animation-direction: reverse;
    }
    .main-header .menu-icon__line::after {
        animation: closedBottom 0.8s;
        animation-fill-mode: backwards;
        animation-direction: reverse;
    }

    .main-header .nav-links{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10rem 0;
        width: 100vw;
        height: 100vh;
        font-size: 2rem;
        color: #fff;
        background: #272727;
        transition:
            opacity .8s .5s,
            clip-path 1s .5s;
        clip-path: circle(200px at top right);
    }

    .main-header .nav-links .nav-link{
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
        transition: 
            opacity .4s ease-in-out,
            transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .main-header .nav-links .nav-link:nth-of-type(2){
        transition-delay: .1s;
    }
    .main-header .nav-links .nav-link:nth-of-type(3){
        transition-delay: .2s;
    }
    .main-header .nav-links .nav-link:nth-of-type(4){
        transition-delay: .3s;
    }

    .main-header .nav-links .nav-link a {
        display: block;
        padding: 2rem 0;
    }

    .main-header .menu-btn:checked ~ .nav-links {
        opacity: 1;
        clip-path: circle(100% at center);
    }

    .main-header .menu-btn:checked ~ .nav-links .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: 
            opacity .4s ease-in-out, 
            transform .6s cubic-bezier(0.175, 0.885, 0.2, 1.275);
    }

    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
        transition-delay: .7s;
    }
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
        transition-delay: .8s;
    }
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
        transition-delay: .9s;
    }
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
        transition-delay: 1s;
    }

    .main-header .menu-btn:checked ~ .menu-icon{
        border-radius:50%;
        animation-name: pulse;
        animation-duration: 1s;
    }

    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line{
        background: #F39422;
        animation-name: openMid;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before{
        background: #F39422;
        animation-name: openTop;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    } 
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after{
        background: #F39422;
        animation-name: openBottom; 
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }

    .myInfo img{
        max-width: 40%;
        max-height: 40%;
    }

    .column {
        width: 100%;
        margin-top: 10%;
    }

    .imgSVG {
        width: 18% !important;
    }

    .portfolioGitButton {
        font-size: 250% !important;
    }

    .portfolioButton {
        font-size: 200% !important;
    }

    * {
        scroll-behavior: auto !important;
    }

    .name {
        font-size: 90%;
    }

    .container {
        padding-top: 1% !important;
    }

    #portfolio, #hobbies, #contact{
        margin-top: 25px;
    }

    .anim1, .anim2 {
        display: none;
    }

    .contactB {
        font-size: 400%;
    }
}

@media screen and (max-width: 1062.22px) {
    .column3 {
        width: 50%;
    }
    
    .imgSVG {
        width: 28%;
    }

    .portfolioGitButton {
        font-size: 300%;
    }

    .portfolioButton {
        font-size: 200%;
    }
    
    .foot {
        margin-top: 12% !important;
    }
}
